.img-wrapper {
  width: 100%;
  height: auto;
  max-height: 40%;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
}

.info h5 {
  font-size: 1.03em;
  margin: 0.4rem 0;
}

.actions {
  display: flex;
  margin-top: 0.7rem;
}

.quantity {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05em;
}
.quantity button {
  font-size: 1.05em;
}

.remove {
  margin-left: auto;
}
.remove button {
  font-size: 1.05em;
}
